.rev_editor {
  color: rgba(99, 92, 115, 255);
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f4f4;
  justify-content: center;
  text-align: center;


  .container2 {
    background-color: #8d81ac;
    display: flex;
    justify-content: center;

    .container2-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #f4f4f4;


      .title {
        text-transform: uppercase;
        font-size: 25px;
      }

      .subtitle {
        text-align: center;
        font-size: 12px;
        width: 90%;
      }

      .followers-menu {
        .action {
          display: inline-flex;
          border: 1px solid #8d81ac;
          margin: 5px auto;
          width: auto;
          font-size: 8px;

          a {
            padding: 1px 13px;
            display: flex;
            align-items: center;
            font-weight: bold;

            .counter {
              border-left: 1px solid #8d81ac;
              padding: 5px;
            }

            .icons {
              position: relative;
              top: -1px;
              margin-right: 5px;
              font-size: 15px;

              &.fork {
                top: 2px;
                color: #8d81ac;
              }

            }
          }
        }

        a:not(.counter) {
          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 100%, rgba(237, 237, 237, 1) 100%, rgba(246, 246, 246, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
        }
      }
    }
  }
}

.what_u_get {
  background-color: #f4f4f4;
  height: 500px;

  .left-side {
    width: 52%;
    margin-top: 50px;
    padding: 0 20px 0 10px;

    #pseudo-propose {
      display: none;
    }

    .propose {
      display: flex;
      font-family: sans-serif;
      flex-direction: row;
      margin: 0 0 20px 0;

      &-title {
        margin: 0 0 10px 0;
        font-size: 12px;
      }

      &TxtBlock {
        font-size: 10px;
      }

      .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 310px;
        height: 90px;
        overflow-x: hidden;

        img {
          transform: scale(.7);
        }
      }
    }
  }

  .container2-main {
    display: flex;
    box-sizing: border-box;
    color: #8d81ac;
    justify-content: space-between;
    overflow-x: hidden;

    .right-side {
      font-size: 35px;
      font-family: sans-serif;
      font-weight: bold;
      overflow-x: hidden;
      margin-top: 40px;
      margin-left: 10px;
      flex-shrink: 0;

      .img-propose-example {
        background-image: url("/dist/img/editor@1X.png");
        height: 350px;
        width: 490px;
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;
        display: flex;
        justify-content: end;
        min-width: 320px;

        img {
          transform: scale(.8);
        }
      }
    }
  }
}

.subscription {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("/dist/img/Layer 2@1X (1).png");
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px;

  .pricing {
    background-color: #4a3b4e;
    margin-bottom: 50px;
  }

  .packs {
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    padding: 0;

    .pack {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 17%;
      margin: 0 20px;

      .head {
        background-color: rgba(110, 93, 107, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
      }

      .main {
        background-color: rgba(110, 88, 102, 0.7);
        display: flex;
        align-items: center;
        padding: 15px 0 5px;
        flex-direction: column;
        height: 240px;
        margin-bottom: 15px;

        .price {
          font-size: 35px;
          margin-top: 15px;
        }

        .period {
          color: #766678;
          font-size: 10px;
          margin-top: 15px;
          position: relative;

          &:after {
            content: '';
            height: 3px;
            width: 40px;
            background-color: #8d81ac;
            position: absolute;
            top: 30px;
            left: 10px;
          }
        }

        .advantages {
          text-transform: capitalize;
          margin: 35px auto;
          font-size: 12px;
          font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Montserrat-Regular, ﻿Courier, sans-serif;
        }

        .bottom-btn {
          border-radius: 20px;
          border: none;
          text-transform: uppercase;
          color: #FFFFFF;
          background-color: rgba(120, 107, 121, 0.7);
          padding: 8px 35px;
          cursor: pointer;
          transition: 300ms;
          transition-property: background-color, color;

          &:hover {
            background-color: #d0cbd0;
            color: rgba(120, 107, 121, 0.7);
          }
        }
      }

      &.active {
        position: relative;
        top: -30px;
        height: 80%;
        margin-top: 40px;
        transform: scale(1.2);

        .head {
          background-color: rgba(60, 46, 61, 0.7);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .main {
          background-color: rgba(67, 54, 72, 0.7);
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 240px;

          .price {
            font-size: 45px;
          }
        }
      }
    }
  }
}

.li-default {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #8d81ac;
}

@media (max-width: 992px) {
  .rev_editor {
    margin-top: 40px;
  }
  .container2-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .right-side {
    margin-top: -20px;
  }
  #propose {
    display: none;
  }
  .what_u_get {
    height: calc(120vw + 1%);

    .container2-main {
      .left-side {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .propose .img-block {
          min-width: 140px;
        }
        #pseudo-propose {
          display: block;
          font-size: 35px;
          font-family: sans-serif;
          font-weight: bold;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      .right-side {
        .img-propose-example {
          width: 135%;
          height: 60vw;
          margin-bottom: 30px;
          min-width: 310px;
          min-height: 226px;
        }
      }
    }
  }
  .subscription {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    .pricing {
      margin-bottom: 0;
    }

    .container4 {
      .packs {
        -ms-flex-pack: distribute;
        justify-content: center;
        align-items: center;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-bottom: 50px;

        .pack {
          width: 200px;
          margin: 5%;
          flex-shrink: 0;
          justify-content: center;
          align-items:  center;
          display: flex;
          .wrapper {
            width: 100%;
            align-items:  center;
          }
          &.active {
            top: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body {
    min-width: 320px;


      .container2-header {
        .title {
          width: 80%;
          text-align: center;
        }

        .subtitle {
          padding: 0 20px;
        }

        .followers-menu {
          width: 80%;
          padding: 0 0 0 20px;
          text-align: center;

          .action {
            margin: 3px 5px;

            &.last-child {
              margin-right: 50px;
            }
          }
        }
      }
    .what_u_get {
      .container2-main {
        #pseudo-propose > .br {
          display: block;
        }

        .left-side {
          margin: 0 auto;
        }
        .right-side {
          .img-propose-example {
            width: 180%;
            height: 70vw;
          }
        }
      }
    }
      .subscription {
        .container4 {
          .pricing {
            width: 60%;
            margin: 0 auto 40px;
          }
          .packs {
            width: 320px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0 auto;
            .pack {
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              width: 60%;
              &.active {
                margin: 50px auto;
              }
            }
          }
        }
      }
    }
  }

.ppl_r_talking .content footer {
 overflow-x: hidden;
}




