header {
  height: 860px;

  .grey_bg {
    background-color: #27262A;

    nav {
      margin: 0 auto;
      max-width: 1200px;
      box-sizing: border-box;
      height: 100px;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;

      .menu_icon {
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        float: right;
        margin: 8px;
        margin-left: 30px;
      }

      .menu_icon div {
        height: 3px;
        width: 100%;
        background: white;
        margin-bottom: 8px;
      }

      ul {
        display: block;
        float: right;
        list-style: none;
        margin-top: 8px;

        li {
          float: left;
          margin-right: 50px;

          a {
            color: #8D81AC;
            text-decoration: none;
            font-weight: 700;
          }

          a:hover {
            color: white;
          }
        }
      }

      .button {
        background-color: #8D81AD;
        color: white;
        font-size: 12pt;
        display: block;
        border-radius: 25px;
        border: 1px #8D81AD solid;
        float: right;
        text-decoration: none;
        font-weight: 600;
        padding: 8px;
        width: 130px;
        text-align: center;
      }

      .button:hover {
        border: 1px #8D81AD solid;
        background-color: white;
        color: #8D81AD;
      }

      .logo {
        display: block;
        color: #8D81AC;
        font-weight: 600;
        height: 45px;
        box-sizing: border-box;
        padding-left: 55px;
        padding-top: 2px;
        font-size: 19pt;
        text-decoration: none;
        float: left;
        background-image: url("/dist/img/header_logo.png");
        background-repeat: no-repeat;
      }

      .logo:hover {
        color: white;
        background-image: url("/dist/img/header_logo_white.png");
      }

      @media screen and (max-width: 480px) {
        .menu_icon {
          display: inline-block;
        }
        ul {
          display: none;
          margin-right: 10px;
          position: absolute;
          list-style: none;
          top: 132px;
          background-color: #333333;
          padding-bottom: 30px;

          li {
            margin-top: 30px;
            font-size: 16pt;
            width: 100%;

            a {
              font-weight: 500;
            }
          }
        }

        .logo {
          width: 50px;
          overflow: hidden;
          font-weight: 300;


        }
      }

    }

    @media screen and (max-width: 992px) {
      nav {
        height: 140px;
      }
    }


  }

  .white_bg {
    background-image: url("/dist/img/header_bg2.png");

    section {
      clear: both;
      max-width: 1200px;
      box-sizing: border-box;
      height: 760px;
      margin: 0 auto;
      padding-top: 35px;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      text-align: center;
      background-image: url("/dist/img/header_bg.jpg");
      background-position: center;

      .top {
        height: 650px;
      }

      .title {
        font-weight: 700;
        font-size: 65pt;
      }

      .sub-title {
        font-weight: 500;
        color: #8D81AC;
        font-size: 21pt;
        margin-bottom: 10px;
      }

      @media screen and (max-width: 480px) {
        .title {
          font-weight: 700;
          font-size: 45pt;
        }
        .sub-title {
          font-weight: 500;
          color: #8D81AC;
          font-size: 16pt;
          margin-bottom: 10px;
        }
      }

      .description {
        color: #848E97;
        font-size: 12pt;
      }

      .download {
        background-color: #8D81AD;
        color: white;
        font-size: 16pt;
        border-radius: 35px;
        border: 1px #8D81AD solid;
        text-decoration: none;
        font-weight: 600;
        padding: 15px 70px;
        margin-bottom: 70px;
        clear: both;
      }

      @media screen and (max-width: 480px) {
        .download {
          font-size: 12pt;
          border-radius: 25px;
          border: 1px #8D81AD solid;
          font-weight: 600;
          padding: 8px;
          width: 130px;
          text-align: center;
        }
      }

      .download:hover {
        border: 1px #8D81AD solid;
        background-color: white;
        color: #8D81AD;
      }

      .subdownload {
        margin-top: 25px;
        color: #848E97;
        font-size: 11pt;
      }
    }
  }
}