.ppl_r_talking {

  background: linear-gradient(transparent, #4B3B4E), url("/dist/img/ppl_r_talking_bg.png") no-repeat;
  background-size: cover;
  color: white;

  .content {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding-top: 80px;

    .title {
      font-size: 38pt;
      font-weight: 700;
      text-align: center;
      margin-bottom: 65px;
    }

    @media screen and (max-width: 480px) {
      .title {
        font-size: 30pt;
        padding: 10px;
      }
    }

    .boxes {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      figure {
        font-style: italic;
        font-size: 11pt;
        text-align: center;
        width: 250px;
        height: 220px;

        img {
          margin-bottom: 20px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      .boxes {
       justify-content: center;
      }
    }


    footer {
      color: #8D81AD;
      font-size: 10.5pt;
      text-align: center;
      padding: 10px;

      div {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 700px;
        border: 0;
        background-color: #645766;
        height: 2px;
        clear: both;
      }
    }

    @media screen and (max-width: 480px) {
      footer {
        display: none;
      }
    }
  }
}
