@charset "UTF-8";
html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background-color: black;
  max-width: 1200px; }

header {
  height: 860px; }
  header .grey_bg {
    background-color: #27262A; }
    header .grey_bg nav {
      margin: 0 auto;
      max-width: 1200px;
      box-sizing: border-box;
      height: 100px;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px; }
      header .grey_bg nav .menu_icon {
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        float: right;
        margin: 8px;
        margin-left: 30px; }
      header .grey_bg nav .menu_icon div {
        height: 3px;
        width: 100%;
        background: white;
        margin-bottom: 8px; }
      header .grey_bg nav ul {
        display: block;
        float: right;
        list-style: none;
        margin-top: 8px; }
        header .grey_bg nav ul li {
          float: left;
          margin-right: 50px; }
          header .grey_bg nav ul li a {
            color: #8D81AC;
            text-decoration: none;
            font-weight: 700; }
          header .grey_bg nav ul li a:hover {
            color: white; }
      header .grey_bg nav .button {
        background-color: #8D81AD;
        color: white;
        font-size: 12pt;
        display: block;
        border-radius: 25px;
        border: 1px #8D81AD solid;
        float: right;
        text-decoration: none;
        font-weight: 600;
        padding: 8px;
        width: 130px;
        text-align: center; }
      header .grey_bg nav .button:hover {
        border: 1px #8D81AD solid;
        background-color: white;
        color: #8D81AD; }
      header .grey_bg nav .logo {
        display: block;
        color: #8D81AC;
        font-weight: 600;
        height: 45px;
        box-sizing: border-box;
        padding-left: 55px;
        padding-top: 2px;
        font-size: 19pt;
        text-decoration: none;
        float: left;
        background-image: url("/dist/img/header_logo.png");
        background-repeat: no-repeat; }
      header .grey_bg nav .logo:hover {
        color: white;
        background-image: url("/dist/img/header_logo_white.png"); }
      @media screen and (max-width: 480px) {
        header .grey_bg nav .menu_icon {
          display: inline-block; }
        header .grey_bg nav ul {
          display: none;
          margin-right: 10px;
          position: absolute;
          list-style: none;
          top: 132px;
          background-color: #333333;
          padding-bottom: 30px; }
          header .grey_bg nav ul li {
            margin-top: 30px;
            font-size: 16pt;
            width: 100%; }
            header .grey_bg nav ul li a {
              font-weight: 500; }
        header .grey_bg nav .logo {
          width: 50px;
          overflow: hidden;
          font-weight: 300; } }
    @media screen and (max-width: 992px) {
      header .grey_bg nav {
        height: 140px; } }
  header .white_bg {
    background-image: url("/dist/img/header_bg2.png"); }
    header .white_bg section {
      clear: both;
      max-width: 1200px;
      box-sizing: border-box;
      height: 760px;
      margin: 0 auto;
      padding-top: 35px;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
      text-align: center;
      background-image: url("/dist/img/header_bg.jpg");
      background-position: center; }
      header .white_bg section .top {
        height: 650px; }
      header .white_bg section .title {
        font-weight: 700;
        font-size: 65pt; }
      header .white_bg section .sub-title {
        font-weight: 500;
        color: #8D81AC;
        font-size: 21pt;
        margin-bottom: 10px; }
      @media screen and (max-width: 480px) {
        header .white_bg section .title {
          font-weight: 700;
          font-size: 45pt; }
        header .white_bg section .sub-title {
          font-weight: 500;
          color: #8D81AC;
          font-size: 16pt;
          margin-bottom: 10px; } }
      header .white_bg section .description {
        color: #848E97;
        font-size: 12pt; }
      header .white_bg section .download {
        background-color: #8D81AD;
        color: white;
        font-size: 16pt;
        border-radius: 35px;
        border: 1px #8D81AD solid;
        text-decoration: none;
        font-weight: 600;
        padding: 15px 70px;
        margin-bottom: 70px;
        clear: both; }
      @media screen and (max-width: 480px) {
        header .white_bg section .download {
          font-size: 12pt;
          border-radius: 25px;
          border: 1px #8D81AD solid;
          font-weight: 600;
          padding: 8px;
          width: 130px;
          text-align: center; } }
      header .white_bg section .download:hover {
        border: 1px #8D81AD solid;
        background-color: white;
        color: #8D81AD; }
      header .white_bg section .subdownload {
        margin-top: 25px;
        color: #848E97;
        font-size: 11pt; }

.ppl_r_talking {
  background: linear-gradient(transparent, #4B3B4E), url("/dist/img/ppl_r_talking_bg.png") no-repeat;
  background-size: cover;
  color: white; }
  .ppl_r_talking .content {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding-top: 80px; }
    .ppl_r_talking .content .title {
      font-size: 38pt;
      font-weight: 700;
      text-align: center;
      margin-bottom: 65px; }
    @media screen and (max-width: 480px) {
      .ppl_r_talking .content .title {
        font-size: 30pt;
        padding: 10px; } }
    .ppl_r_talking .content .boxes {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .ppl_r_talking .content .boxes figure {
        font-style: italic;
        font-size: 11pt;
        text-align: center;
        width: 250px;
        height: 220px; }
        .ppl_r_talking .content .boxes figure img {
          margin-bottom: 20px; }
    @media screen and (max-width: 480px) {
      .ppl_r_talking .content .boxes {
        justify-content: center; } }
    .ppl_r_talking .content footer {
      color: #8D81AD;
      font-size: 10.5pt;
      text-align: center;
      padding: 10px; }
      .ppl_r_talking .content footer div {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 700px;
        border: 0;
        background-color: #645766;
        height: 2px;
        clear: both; }
    @media screen and (max-width: 480px) {
      .ppl_r_talking .content footer {
        display: none; } }

.rev_editor {
  color: #635c73;
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f4f4;
  justify-content: center;
  text-align: center; }
  .rev_editor .container2 {
    background-color: #8d81ac;
    display: flex;
    justify-content: center; }
    .rev_editor .container2 .container2-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #f4f4f4; }
      .rev_editor .container2 .container2-header .title {
        text-transform: uppercase;
        font-size: 25px; }
      .rev_editor .container2 .container2-header .subtitle {
        text-align: center;
        font-size: 12px;
        width: 90%; }
      .rev_editor .container2 .container2-header .followers-menu .action {
        display: inline-flex;
        border: 1px solid #8d81ac;
        margin: 5px auto;
        width: auto;
        font-size: 8px; }
        .rev_editor .container2 .container2-header .followers-menu .action a {
          padding: 1px 13px;
          display: flex;
          align-items: center;
          font-weight: bold; }
          .rev_editor .container2 .container2-header .followers-menu .action a .counter {
            border-left: 1px solid #8d81ac;
            padding: 5px; }
          .rev_editor .container2 .container2-header .followers-menu .action a .icons {
            position: relative;
            top: -1px;
            margin-right: 5px;
            font-size: 15px; }
            .rev_editor .container2 .container2-header .followers-menu .action a .icons.fork {
              top: 2px;
              color: #8d81ac; }
      .rev_editor .container2 .container2-header .followers-menu a:not(.counter) {
        background: linear-gradient(to bottom, white 0%, #f6f6f6 100%, #ededed 100%, #f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0); }

.what_u_get {
  background-color: #f4f4f4;
  height: 500px; }
  .what_u_get .left-side {
    width: 52%;
    margin-top: 50px;
    padding: 0 20px 0 10px; }
    .what_u_get .left-side #pseudo-propose {
      display: none; }
    .what_u_get .left-side .propose {
      display: flex;
      font-family: sans-serif;
      flex-direction: row;
      margin: 0 0 20px 0; }
      .what_u_get .left-side .propose-title {
        margin: 0 0 10px 0;
        font-size: 12px; }
      .what_u_get .left-side .proposeTxtBlock {
        font-size: 10px; }
      .what_u_get .left-side .propose .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 310px;
        height: 90px;
        overflow-x: hidden; }
        .what_u_get .left-side .propose .img-block img {
          transform: scale(0.7); }
  .what_u_get .container2-main {
    display: flex;
    box-sizing: border-box;
    color: #8d81ac;
    justify-content: space-between;
    overflow-x: hidden; }
    .what_u_get .container2-main .right-side {
      font-size: 35px;
      font-family: sans-serif;
      font-weight: bold;
      overflow-x: hidden;
      margin-top: 40px;
      margin-left: 10px;
      flex-shrink: 0; }
      .what_u_get .container2-main .right-side .img-propose-example {
        background-image: url("/dist/img/editor@1X.png");
        height: 350px;
        width: 490px;
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;
        display: flex;
        justify-content: end;
        min-width: 320px; }
        .what_u_get .container2-main .right-side .img-propose-example img {
          transform: scale(0.8); }

.subscription {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("/dist/img/Layer 2@1X (1).png");
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30px; }
  .subscription .pricing {
    background-color: #4a3b4e;
    margin-bottom: 50px; }
  .subscription .packs {
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    padding: 0; }
    .subscription .packs .pack {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 17%;
      margin: 0 20px; }
      .subscription .packs .pack .head {
        background-color: rgba(110, 93, 107, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0; }
      .subscription .packs .pack .main {
        background-color: rgba(110, 88, 102, 0.7);
        display: flex;
        align-items: center;
        padding: 15px 0 5px;
        flex-direction: column;
        height: 240px;
        margin-bottom: 15px; }
        .subscription .packs .pack .main .price {
          font-size: 35px;
          margin-top: 15px; }
        .subscription .packs .pack .main .period {
          color: #766678;
          font-size: 10px;
          margin-top: 15px;
          position: relative; }
          .subscription .packs .pack .main .period:after {
            content: '';
            height: 3px;
            width: 40px;
            background-color: #8d81ac;
            position: absolute;
            top: 30px;
            left: 10px; }
        .subscription .packs .pack .main .advantages {
          text-transform: capitalize;
          margin: 35px auto;
          font-size: 12px;
          font-family: ﻿AdobeInvisFont, ﻿Montserrat-Bold, ﻿Montserrat-Regular, ﻿Courier, sans-serif; }
        .subscription .packs .pack .main .bottom-btn {
          border-radius: 20px;
          border: none;
          text-transform: uppercase;
          color: #FFFFFF;
          background-color: rgba(120, 107, 121, 0.7);
          padding: 8px 35px;
          cursor: pointer;
          transition: 300ms;
          transition-property: background-color, color; }
          .subscription .packs .pack .main .bottom-btn:hover {
            background-color: #d0cbd0;
            color: rgba(120, 107, 121, 0.7); }
      .subscription .packs .pack.active {
        position: relative;
        top: -30px;
        height: 80%;
        margin-top: 40px;
        transform: scale(1.2); }
        .subscription .packs .pack.active .head {
          background-color: rgba(60, 46, 61, 0.7);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
        .subscription .packs .pack.active .main {
          background-color: rgba(67, 54, 72, 0.7);
          display: flex;
          align-items: center;
          flex-direction: column;
          height: 240px; }
          .subscription .packs .pack.active .main .price {
            font-size: 45px; }

.li-default {
  list-style: none;
  padding-left: 0; }

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #8d81ac; }

@media (max-width: 992px) {
  .rev_editor {
    margin-top: 40px; }
  .container2-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .right-side {
    margin-top: -20px; }
  #propose {
    display: none; }
  .what_u_get {
    height: calc(120vw + 1%); }
    .what_u_get .container2-main .left-side {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .what_u_get .container2-main .left-side .propose .img-block {
        min-width: 140px; }
      .what_u_get .container2-main .left-side #pseudo-propose {
        display: block;
        font-size: 35px;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px; }
    .what_u_get .container2-main .right-side .img-propose-example {
      width: 135%;
      height: 60vw;
      margin-bottom: 30px;
      min-width: 310px;
      min-height: 226px; }
  .subscription {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto; }
    .subscription .pricing {
      margin-bottom: 0; }
    .subscription .container4 .packs {
      -ms-flex-pack: distribute;
      justify-content: center;
      align-items: center;
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-bottom: 50px; }
      .subscription .container4 .packs .pack {
        width: 200px;
        margin: 5%;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        display: flex; }
        .subscription .container4 .packs .pack .wrapper {
          width: 100%;
          align-items: center; }
        .subscription .container4 .packs .pack.active {
          top: 0; } }

@media (max-width: 480px) {
  body {
    min-width: 320px; }
    body .container2-header .title {
      width: 80%;
      text-align: center; }
    body .container2-header .subtitle {
      padding: 0 20px; }
    body .container2-header .followers-menu {
      width: 80%;
      padding: 0 0 0 20px;
      text-align: center; }
      body .container2-header .followers-menu .action {
        margin: 3px 5px; }
        body .container2-header .followers-menu .action.last-child {
          margin-right: 50px; }
    body .what_u_get .container2-main #pseudo-propose > .br {
      display: block; }
    body .what_u_get .container2-main .left-side {
      margin: 0 auto; }
    body .what_u_get .container2-main .right-side .img-propose-example {
      width: 180%;
      height: 70vw; }
    body .subscription .container4 .pricing {
      width: 60%;
      margin: 0 auto 40px; }
    body .subscription .container4 .packs {
      width: 320px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 auto; }
      body .subscription .container4 .packs .pack {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 60%; }
        body .subscription .container4 .packs .pack.active {
          margin: 50px auto; } }

.ppl_r_talking .content footer {
  overflow-x: hidden; }
